*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #1f1f1f;
  --clr-white: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-black);
}

#main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Left Panel */
#nav-container {
  background-color: yellow;
  width: 20%;
  position: sticky;
  position: -webkit-sticky;
  height: 100vh;
}

/* Right Panel */
#task-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(5, 2fr);
  gap: 2rem;
  width: 80%;
  margin: 2rem;
}

#task {
  height: 20rem;
  width: 15rem;
  background-color: var(--clr-white);
  border-radius: 10px;
}
